body {
  margin: 0;
}


/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

#edit {
    font-size:24px;
    border: none;
    background-color: inherit;
    outline:none;
}

#edit:hover { cursor:pointer;
	background-color:#ddd; }

#edit:hover ~ #table_settings tr { background-color:#ddd; }

#edit:active { color: gray; }

#remove {
    font-size:24px;
    border: none;
    background-color: inherit;
    outline:none;
}

#remove:hover { cursor:pointer;
        background-color:#ddd; }

#remove:hover ~ #table_settings tr { background-color:#ddd; }

#remove:active { color: gray; }


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* tables */
#table_settings {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table_settings td, #table_settings th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table_settings tr:nth-child(even){background-color: #f2f2f2;}

#table_settings tr:hover {background-color: #ddd;}

#table_settings th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}


/* Icons */
@font-face {
  font-family: 'icomoon';
  src:  url('/static/fonts/icomoon.eot?kyg5v7');
  src:  url('/static/fonts/icomoon.eot?kyg5v7#iefix') format('embedded-opentype'),
    url('/static/fonts/icomoon.ttf?kyg5v7') format('truetype'),
    url('/static/fonts/icomoon.woff?kyg5v7') format('woff'),
    url('/static/fonts/icomoon.svg?kyg5v7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chart_line:before {
  content: "\e900";
}
.icon-chart_spline:before {
  content: "\e901";
}
.icon-edit:before {
  content: "\e905";
}
.icon-database:before {
  content: "\e964";
}
.icon-parameters:before {
  content: "\e994";
}
.icon-remove:before {
  content: "\e9ac";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-half_sun:before {
  content: "\e9d6";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
