<!DOCTYPE HTML>
<html>
        <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
                <title>{% block title %}{% endblock %}</title>
                <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/toggle.css') }}">


        </head>
        <header>
                <div class="topnav">
                        <a href="graph" class="icon_block">
                        <i class="icon-chart_spline"></i>
                </a>
                        <a href="settings" class="icon_block">
                        <i class="icon-parameters"></i>
                </a>
                        <a href="database" class="icon_block">
                        <i class="icon-database"></i>
                        </a>
                        <a style="float:right" href = "restart" onclick = "{if (confirm ( 'Are you sure you want to restart ?')) {return true;} return false;} " class="icon_block">
                        <i class="icon-switch"></i>
                        </a>
                </div>
        </header>
        <body>
        {% block body %}{% endblock %}
        </body>
</html>

{% block javascript %}{% endblock %}
