{% extends "base.html" %}


{% block title %}Plants{% endblock %}

{% block body %}

      <form action= "" id= "plants" method= "post">

      </form>

{% endblock %}

{% block javascript %}
<script>
    var plants = JSON.parse('{{ plants | tojson | safe }}');    
    var entry_row = [];
    group = document.createElement("table");
    group.id = "table_settings"
    row_1 = document.createElement("tr");
    column_1 = document.createElement("th");
    column_1.innerHTML = "Plant type";
    column_2 = document.createElement("th");
    column_2.innerHTML = "Kc";
    column_3 = document.createElement("th");
    column_3.innerHTML = "Soil dryness";
    column_4 = document.createElement("th");
    column_4.innerHTML = "Sun";
    column_5 = document.createElement("th");
    column_5.innerHTML = "Actions";
    row_1.appendChild(column_1);
    row_1.appendChild(column_2);
    row_1.appendChild(column_3);
    row_1.appendChild(column_4);
    row_1.appendChild(column_5);
    group.appendChild(row_1);
    document.getElementById("plants").appendChild(group);

    for (let i = 0; i < plants.length; i++) {
        if ({{ edit|tojson }} != plants[i][0]){
            entry_row[i] = document.createElement("tr");
            column_11 = document.createElement("td");
            column_11.innerHTML = plants[i][0];
            column_21 = document.createElement("td");
            column_21.innerHTML = plants[i][1];
            column_31 = document.createElement("td");
            column_31.innerHTML = plants[i][2];
            column_41 = document.createElement("td");
            column_41.innerHTML = plants[i][3];
            column_51 = document.createElement("td");
            edit = document.createElement("button");
            edit.setAttribute("class", "btn");
            edit_btn = document.createElement("i");
            edit_btn.setAttribute("class", "icon-edit");
            edit_btn.setAttribute("type", "submit");
            edit.setAttribute("name", "edit"+plants[i][0]);
            edit.setAttribute("id","edit");
            remove = document.createElement("button");
            remove.setAttribute("class", "btn");
            remove_btn = document.createElement("i");
            remove_btn.setAttribute("class", "icon-remove");
            remove_btn.setAttribute("type", "submit");
            remove.setAttribute("name", "remove"+plants[i][0]);
            remove.setAttribute("id","remove");
            entry_row[i].appendChild(column_11);
            entry_row[i].appendChild(column_21);
            entry_row[i].appendChild(column_31);
            entry_row[i].appendChild(column_41);
            edit.appendChild(edit_btn);
            remove.appendChild(remove_btn);
            column_51.appendChild(edit);
            column_51.appendChild(remove);
            entry_row[i].appendChild(column_51);        
            group.appendChild(entry_row[i]);
        }

        else{
            entry_row[i] = document.createElement("tr");
            column_11 = document.createElement("td");
            column_111 = document.createElement("input");
            column_111.setAttribute("type","text")
            column_111.setAttribute("placeholder", plants[i][0]);
            column_111.setAttribute("name","plant")
            column_21 = document.createElement("td");
            column_211 = document.createElement("input");
            column_211.setAttribute("type","text")
            column_211.setAttribute("placeholder", plants[i][1]);
            column_211.setAttribute("name","Kc")
            column_31 = document.createElement("td");
            column_311 = document.createElement("input");
            column_311.setAttribute("type","text")
            column_311.setAttribute("placeholder", plants[i][2]);
            column_311.setAttribute("name","threshold")
            column_41 = document.createElement("td");
            column_411 = document.createElement("input");
            column_411.setAttribute("type","text")
            column_411.setAttribute("placeholder", plants[i][3]);
            column_411.setAttribute("name","sun")
            column_51 = document.createElement("td");
            ok = document.createElement("button");
            ok.setAttribute("class", "btn");
            ok_btn = document.createElement("i");
            ok_btn.setAttribute("class", "icon-ok");
            ok_btn.setAttribute("type", "submit");
            ok.setAttribute("name", "ok"+plants[i][0]);
            ok.setAttribute("id","edit");
            cancel = document.createElement("button");
            cancel.setAttribute("class", "btn");
            cancel_btn = document.createElement("i");
            cancel_btn.setAttribute("class", "icon-cancel");
            cancel_btn.setAttribute("type", "submit");
            cancel.setAttribute("name", "cancel");
            cancel.setAttribute("id","remove");
            entry_row[i].appendChild(column_11);
            column_11.appendChild(column_111);
            entry_row[i].appendChild(column_21);
            column_21.appendChild(column_211);
            entry_row[i].appendChild(column_31);
            column_31.appendChild(column_311);
            entry_row[i].appendChild(column_41);
            column_41.appendChild(column_411);
            ok.appendChild(ok_btn);
            cancel.appendChild(cancel_btn);
            column_51.appendChild(ok);
            column_51.appendChild(cancel);
            entry_row[i].appendChild(column_51);
            group.appendChild(entry_row[i]);
        }
    }

</script>
{% endblock %}
