{% extends "base.html" %}


{% block title %}Humidity graph{% endblock %}

{% block body %}			
		<div id="maincontainer"></div>
<!--
			<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
		</div>
-->	 	
		<div id="controls">
<!--			<button class="command command-water" value="water"> 
				Water 
			</button>
-->
		</div>
<!--
		<div id="links">
			<a href="settings">Settings</a>
		</div>
-->
{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='jquery-1.8.3.min.js') }}"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/boost.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.13/moment-timezone-with-data-2012-2022.min.js"></script>


<script type="text/javascript">
	var maincontainer = $('#maincontainer');
	var devices = {{ devices }} ;
	var watering = {{ watering }} ;
	var threshold = {{ threshold }} ;
	var containers = [];
	var button_row = [];
	var dry_list = {{ dry }} ;
	var header = [];
	var plants = JSON.parse('{{ plants | tojson | safe }}');
	for (let i = 0; i < devices.length; i++) {
        containers[i] = document.createElement("div");
		header[i] = document.createElement("div");

		if(dry_list.includes(devices[i])){
			header[i].innerHTML = "The device ".concat(devices[i]," is too dry")
		}
		document.getElementById("maincontainer").appendChild(header[i]);
		document.getElementById("maincontainer").appendChild(containers[i]);

		group = document.createElement("table");
		button_row[i] = document.createElement("tr");
		//button_row[i].className = "row";
		column_1 = document.createElement("td");
		//column_1.className = "column";
		column_1.innerHTML = "Watering ".concat(devices[i]);
		column_2 = document.createElement("td");
        //column_2.className = "column";
		var label = document.createElement("label");
		label.className = "switch";
		btn = document.createElement("input");
		btn.type = "checkbox"
		btn.className = "command command-water";
		btn.value = "water".concat(devices[i]);
		btn.id = "button_".concat(devices[i]);
		if(watering.length == 1 ){
			if(devices[i] == watering[0]){
				btn.checked = true;
			}
		}
		span = document.createElement("span");
		span.className = "slider round";
		label.appendChild(btn);
		label.appendChild(span);
		column_2.appendChild(label);
		button_row[i].appendChild(column_1);
		button_row[i].appendChild(column_2);
		group.appendChild(button_row[i]);
		document.getElementById("controls").appendChild(group);
		Highcharts.getJSON('/'.concat(devices[i],'/data.json'), function (data) {
		// Create the chart
		Highcharts.stockChart(containers[i],{
				chart : {
					zoomType: 'x'
				},
	                        rangeSelector : {
					buttons: [{
						count: 1,
						type: 'hour',
						text: '1H'
					}, {
						count: 1,
						type: 'day',
						text: '1D'
					}, {
						count: 1,
						type: 'week',
						text: '1W'
					}, {
						count: 1,
						type: 'month',
						text: '1M'
					}, {
						type: 'all',
						text: 'All'
					}],
					inputEnabled: false,					
	                                selected : 1
	                        },
	                        title : {
	                                text : plants[i]
	                        },
				time: {
                                	timezone: 'Europe/Oslo'
	                        },
				xAxis : {
					type : 'datetime',
					ordinal: false
				},
				yAxis:{
					min: 0,
					max: 100
				},
	                series : [{
	                    name : 'Humidity'                                
	                },{
	                    name : 'Watering'
	                },{
	                    name : 'Threshold',
	                    color: '#FFCCCB',
	                    type : 'area',
	                    fillOpacity: 0.3,
                        lineWidth: 0,
                        marker: {
                        enabled: false
                        },
	                }],
				data : {
					rowsURL : '/'.concat(devices[i],'/data.json'),
					enablePolling:  true,
            				dataRefreshRate: 2,
					firstRowAsNames: false,
					seriesMapping : [{
						x: 0,
						y: 1
					},
					{
						x: 0,
						y: 2
					},
					{
						x:0,
						y:3
					}]
				}
	        });
		});
	}
</script>


<script> 
// Only run what comes next *after* the page has loaded 
addEventListener("DOMContentLoaded", function() { 
// Grab all of the elements with a class of command 
// (which all of the buttons we just created have) 
	var commandButtons = document.querySelectorAll(".command");
	//alert(commandButtons.length); 
	for (var i=0, l=commandButtons.length; i<l; i++) { 
		var button = commandButtons[i];
		//alert(commandButtons[i]);
		// For each button, listen for the "click" event 
		button.addEventListener("change", function(e) { 
			// When a click happens, stop the button 
			// from submitting our form (if we have one) 
			e.preventDefault(); 
			var changedButton = e.target; 
			var command = changedButton.value; 
			// Now we need to send the data to our server 
			// without reloading the page - this is the domain of 
			// AJAX (Asynchronous JavaScript And XML)
			// We will create a new request object 
			// and set up a handler for the response 
			var request = new XMLHttpRequest(); 
			request.onload = function() { 
				// We could do more interesting things with the response 
				// or, we could ignore it entirely 
				alert(request.responseText); 
			}; 
			if(this.checked){
				request.open("GET","/command/"+command+"_ON", true);
				//alert("/"+command+"_ON");
				for (var i=0, l=commandButtons.length; i<l; i++) {
					commandButtons[i].checked = false;
					this.checked = true;
				}
			}
			else{
				request.open("GET","/command/"+command+"_OFF", true);
			}
			// We point the request at the appropriate command 
			//request.open("GET", "/" + command, true); 
			// and then we send it off 
			request.send();
			
		}); 
	} 
}, true); 
</script>

{% endblock %}
