{% extends "base.html" %}


{% block title %}Settings{% endblock %}

{% block body %}

<div id="flow">
  The system has used {{ flows[0] }} L since {{ date }}
</div>
{% if message %}
  <p>{{ message }}</p>
{% endif %}
<form action= "" method= "post">
  <p>Enter adress to change</p>
    <p>
      <input type= "text" name= "faddress" />
    </p>
    <p>Enter new address</p>
    <p>
      <input type= "text" name=  "naddress" />
    </p>
    <p>
      <input type= "submit" name= "ad_change" value= "change adress" />
    </p>
</form>
<form action= "" method= "post">
  <p><input type=  "submit" name= "scan" value= "scan" />
  </p>
</form>
      
<form action= "" id= "devices" method= "post">

</form>
<div>
Timeslots
</div>
<!-- 
<form action= "" id= "hours" method= "post">
  <table id="table_hours">
    <tr>
      <th>Start</th>
      <th>Stop</th>
      <th>Actions</th>
    </tr>
  </table>
</form>
 -->

<form id="select_week" name="select_week" method= "post">
</form>
<form>
  <input type= "submit" name= "new_week" value= "New_week" />
</form>
<table id="week_table">
  <tr id="Monday">
    <td>
      <a href="{{ url_for('daily_timeslot',day='Monday') }}">Monday</a>
    </td>
  </tr>
  <tr id="Tuesday">
    <td>
      <a href="{{ url_for('daily_timeslot',day='Tuesday') }}">Tuesday</a>
    </td>
  </tr>
  <tr id="Wednesday">
    <td>
      <a href="{{ url_for('daily_timeslot',day='Wednesday') }}">Wednesday</a>
    </td>
  </tr>
  <tr id="Thursday">
    <td>
      <a href="{{ url_for('daily_timeslot',day='Thursday') }}">Thursday</a>
    </td>
  </tr>
  <tr id="Friday">
    <td>
      <a href="{{ url_for('daily_timeslot',day='Friday') }}">Friday</a>
    </td>
  </tr>
  <tr id="Saturday">
    <td>
      <a href="{{ url_for('daily_timeslot',day='Saturday') }}">Saturday</a>
    </td>
  </tr>
  <tr id="Sunday">
    <td>
      <a href="{{ url_for('daily_timeslot',day='Sunday') }}">Sunday</a>
    </td>
  </tr>
</table>

<form action= "" method= "post">
  <p>Week name</p>
  <input type= "text" name= "week_name" />
  <input type= "submit" name= "save_week" value= "Save the week" />
</form>

{% endblock %}

{% block javascript %}

<script>
// week hours settings are handled here
var weeks = {{ weeks | tojson }};
var preselected_week = {{ selected_week | tojson }} ;
form_week = document.getElementById('select_week');
if(preselected_week[0] ==  null){
		form_week.innerHTML = `
			<select id= "week_select" name= "week_select" onchange="document.getElementById('select_week').submit();" selected=-1>
                      		<option value='Select'>
					Select
				</option>
				{% for week in weeks %} 
					<option value='{{ week[0] }}'>
						{{ week[0] }} 
					</option> 
				{% endfor %}
			</select>
		`;
	}
	else{
		form_week.innerHTML = `
			<select id= "week_select" name= "week_select" onchange="document.getElementById('select_week').submit();" selected=` + preselected_week[0] + `>
				{% for week in weeks %}
					<option value='{{ week[0] }}'>
						{{ week[0] }}
					</option>
				{% endfor %}
			</select>
		`;
	}
//hours table handled here
var hours_list = {{ hours | tojson }};

//var weekMaxLength = 0;
//for (var i = 0, length = week_list.length; i < length; i++) {
//    weekMaxLength = Math.max(weekMaxLength, week_list[i].length);
//}
for (let i = 0; i < hours_list.length; i++) {
    column = document.createElement("td");
    document.getElementById(hours_list[i][0]).appendChild(column);
    column.innerHTML = hours_list[i][1]+"-"+hours_list[i][2];
}
</script>

<script>
// all the plant settings appear here
var devices = {{ devices }} ;
var preselected = {{ preselected_plant }} ; 
var threshold = {{ threshold }} ;
var flows = {{ flows }} ;
var mode = {{ mode }} ;
var entry_row = [];
group = document.createElement("table");
group.id = "table_settings"
row_1 = document.createElement("tr");
column_1 = document.createElement("th");
column_1.innerHTML = "Devices";
column_2 = document.createElement("th");
column_2.innerHTML = "Current threshold";
column_3 = document.createElement("th");
column_3.innerHTML = "Mode";
column_4 = document.createElement("th");
column_4.innerHTML = "Flow";
column_5 = document.createElement("th");
column_5.innerHTML = "Plant profile";
row_1.appendChild(column_1);
row_1.appendChild(column_2);
row_1.appendChild(column_3);
row_1.appendChild(column_4);
row_1.appendChild(column_5);
group.appendChild(row_1);
document.getElementById("devices").appendChild(group);

for (let i = 0; i < devices.length; i++) {
	entry_row[i] = document.createElement("tr");
	column_11 = document.createElement("td");
	column_11.innerHTML = "Device ".concat(devices[i]);
	column_21 = document.createElement("td");
	column_21.innerHTML = threshold[i];
	column_31 = document.createElement("td");
	if (preselected[i] != null){
		input31 = document.createElement("input");
		input31.type = "submit";
		input31.name = "mode".concat(devices[i]);
		if(mode[i] == 1){
			input31.value = "Automatic";
		}
		else{
			input31.value = "Manual";
		}
		column_31.appendChild(input31);
	}
	column_41 = document.createElement("td");
	column_41.innerHTML = flows[i+1];
	column_51 = document.createElement("td");
	entry_row[i].appendChild(column_11);
	entry_row[i].appendChild(column_21);
	entry_row[i].appendChild(column_31);
	entry_row[i].appendChild(column_41);
	entry_row[i].appendChild(column_51);
	group.appendChild(entry_row[i]);
	var id_plant = "device"+devices[i];
	var id_select = "select"+devices[i];
	form_plant = document.createElement("form");
	form_plant.name = id_plant;
	form_plant.id = id_plant;
		
		
	form_plant.method = "post";
	column_51.appendChild(form_plant);
	if(preselected[i] ==  null){
		form_plant.innerHTML = `
			<select id=` + id_select + ` name= ` + id_select + ` onchange="document.getElementById('` + id_plant + `').submit();" selected=` + preselected[i] + `>
                      		<option value='Select'>
					Select
				</option>
				{% for plant in plants %} 
					<option value='{{ plant }}'>
						{{ plant }} 
					</option> 
				{% endfor %}
			</select>
		`;
	}
	else{
		form_plant.innerHTML = `
			<select id=` + id_select + ` name= ` + id_select + ` onchange="document.getElementById('` + id_plant + `').submit();" selected=` + preselected[i] + `>
				{% for plant in plants %}
					<option value='{{ plant }}'>
						{{ plant }}
					</option>
				{% endfor %}
			</select>
		`;
	}
	if(preselected[i] !=  null){
		document.getElementById(id_select).selectedIndex = preselected[i]
	}
}
document.getElementById("devices").appendChild(group);
</script>





<script>
// Only run what comes next *after* the page has loaded
addEventListener("DOMContentLoaded", function() {
// Grab all of the elements with a class of command
// (which all of the buttons we just created have)
        var commandButtons = document.querySelectorAll(".command");
        //alert(commandButtons.length);
        for (var i=0, l=commandButtons.length; i<l; i++) {
                var button = commandButtons[i];
                //alert(commandButtons[i]);
                // For each button, listen for the "click" event
                button.addEventListener("change", function(e) {
                        // When a click happens, stop the button
                        // from submitting our form (if we have one)
                        e.preventDefault();
                        var changedButton = e.target;
                        var command = changedButton.value;
                        // Now we need to send the data to our server
                        // without reloading the page - this is the domain of
                        // AJAX (Asynchronous JavaScript And XML)
                        // We will create a new request object
                        // and set up a handler for the response
                        var request = new XMLHttpRequest();
                        request.onload = function() {
                                // We could do more interesting things with the response
                                // or, we could ignore it entirely
                                alert(request.responseText);
                        };
                        if(this.checked){
                                request.open("GET","/"+command, true);
                                //alert("/"+command);
                                for (var i=0, l=commandButtons.length; i<l; i++) {
                                        commandButtons[i].checked = false;
                                        this.checked = true;
                                }
                        }
                        else{
                                request.open("GET","/"+command+"_OFF", true);
                        }
                        // We point the request at the appropriate command
                        //request.open("GET", "/" + command, true);
                        // and then we send it off
                        request.send();

                });
        }
}, true);
</script>

{% endblock %}
